body {
	color: #fff;
	background-color: #263238;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
html {
	height: 100%;
}
.wrapper {
	height: 100%;
	height: 100%;
	display:  flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
}
.btn-calc {
	background-color: #009688;
	color: #fff; 
	text-decoration: none;
	font-size: 24px;
	padding: 15px 25px;
	transition: 500ms all ease-out;
	outline: none;
}
.btn-calc:hover {
	background-color: #005a52;
}
ul {
	list-style: none;
	padding: 0;
}
ul li {
	
}
ul li a {
	display: inline-block;
	margin-bottom: 10px;
	background-color: #009688;
	color: #fff; 
	text-decoration: none;
	font-size: 24px;
	padding: 15px 25px;
	transition: 500ms all ease-out;
	outline: none;
	min-width: 210px;
	text-align: center;
}