body {
	color: #fff;
	background-color: #263238;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
html {
	height: 100%;
}
.wrapper {
	height: 100%;
	display:  flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.btn-calc {
	background-color: #009688;
	color: #fff; 
	text-decoration: none;
	font-size: 24px;
	padding: 15px 25px;
	transition: 500ms all ease-out;
	outline: none;
}
.btn-calc:hover {
	background-color: #005a52;
}